<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:picon="http://picon.webquub.com/dtds/picon-xhtml.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head></head>
    <body>
        <picon:panel>
            <h3>Normal</h3>
                <div class="singleFieldBlock"><label>Text Color: </label>
                <input type="text" picon:id="links.normal.fontcolour" />
                </div>
                <br />
                <div class="singleFieldBlock"><label>Text Size: </label>
                <select picon:id="links.normal.fontsize" />
                </div>
                <br />
                <div class="singleFieldBlock"><label>Weight: </label>
                    <div class="choiceBlock" picon:id="links.normal.weight"></div>
                </div>
                <br />
                <div class="singleFieldBlock"><label>Decoration </label>
                <div class="choiceBlock" picon:id="links.normal.decoration"></div>
                </div>
                <br /><h3>Mouse Over</h3>
                <div class="singleFieldBlock"><label>Text Color: </label>
                <input type="text" picon:id="links.hover.fontcolour" />
                </div>
                <br />
                <div class="singleFieldBlock"><label>Text Size: </label>
                <select picon:id="links.hover.fontsize" />
                </div>
                <br />
                <div class="singleFieldBlock"><label>Weight: </label>
                    <div class="choiceBlock" picon:id="links.hover.weight"></div>
                </div>
                <br />
                <div class="singleFieldBlock"><label>Decoration </label>
                <div class="choiceBlock" picon:id="links.hover.decoration"></div>
                </div>
                <br /><h3>Link Clicked</h3>
                <div class="singleFieldBlock"><label>Text Color: </label>
                <input type="text" picon:id="links.active.fontcolour" />
                </div>
                <br />
                <div class="singleFieldBlock"><label>Text Size: </label>
                <select picon:id="links.active.fontsize" />
                </div>
                <br />
                <div class="singleFieldBlock"><label>Weight: </label>
                    <div class="choiceBlock" picon:id="links.active.weight"></div>
                </div>
                <br />
                <div class="singleFieldBlock"><label>Decoration </label>
                <div class="choiceBlock" picon:id="links.active.decoration"></div>
                </div>
        </picon:panel>
    </body>
</html>
