.layoutBlock {
    border:1px #000 solid;
}

.layoutBlock li {
    position:relative;
}

.columnElement {
    float:left;
}

.floating {
    position:absolute;
    z-index:1;
}

.layoutBlock ul {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    list-style:none;
}

.widgetPlaceholder {
    background:#eb8f00;
}

.remove {
    position:absolute;
    top:10px;
    right:10px;
    height:25px;
    width:25px;
    cursor:pointer;
    background-color:darkblue;
}

.dragHandle {
    position:absolute;
    top:10px;
    left:10px;
    height:25px;
    width:25px;
    cursor:move;
    background-color:#1c94c4;
}

.blockControl {
    display:none;
}

li:hover .blockControl {
    display:block;
}

.rowBlock li {
    width:auto;
    float:left;
}

.columnElement li {
    height:auto;
    width:100%;
}

li .widgetPlaceholder {
    display:block;
}