.layoutBlock {
    border:1px #000 solid;
}

.layoutBlock li {
    position:relative;
}

.columnElement {
    float:left;
}

.floating {
    position:absolute;
    z-index:1;
}

.layoutBlock ul {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    list-style:none;
}

.widgetPlaceholder {
    background:#eb8f00;
}

.blockControl {
    display:none;
}

li:hover .blockControl {
    display:block;
}

.rowBlock li {
    min-width: 150px !important; 
    width: auto !important; width: 150px;
    float:left;
    height:100%;
}

.columnElement li {
    min-height: 60px !important; 
    height: 100% !important; height: 6px;
    width:100%;
}

li .widgetPlaceholder {
    display:block;
}

.hoverBox {
    background:#ccffcc;
    border:#030 1px solid;
    border-radius:3px;
    display:none;
    height:20px;
    width:20px;
    position:absolute;
    top:10px;
}

li:hover .hoverBox {
    display:block;
}

.hoverBox.right {
    right:10px;
}

.hoverBox.left {
    left:10px;
}

.hoverBox img {
    width:18px;
    height:18px;
    float:left;
    margin:1px;
    cursor: pointer;
}

.hoverBox a {
    float:left;
    display: inline-block;
}

.hoverBox.double {
    width:44px;
}

img.dragHandle {
    cursor:move;
}

.contentPlaceholder {
    background:url('../images/watermark.png');
    width:100%;
    height:100%;
}