/****************************
  General Page Style
****************************/

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    font-size: 10pt;
}

.global {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
}

.push {
    height: 45px;
}

.footer {
    height: 30px;
    background-color:#333;
    font-size:8pt;
    color:#fff;
    padding:10px 0 5px 0;
}

.footer a {
    color:#fff;
}

.wrap, .content {
    width:90%;
    margin:0 auto;
}

.head {
    background:url('../images/menuback.png') repeat-x;
    height:25px;
    width:100%;
}

.logo {
    background:url('../images/logoback.png') no-repeat top;
    display:block;
    width:130px;
    height:40px;
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
    text-align: center;
    float:left;
    position:absolute;
    padding-top:10px;
}

.head .logo:hover {
    background-position: bottom;
}

.head .mainMenu {
    float:left;
}

.head .userMenu {
    float:right;
}

.head ul {
    list-style: none;
    margin:0 0 0 140px;
    padding:0px;
    font-size: 10pt;
}

.head ul li {
    display:inline-block;
}

.head ul li a{
    color:#FFF;
    text-decoration: none;
    padding:0 10px 0 10px;
    line-height:25px;
    height:25px;
    display:block;
    font-weight: normal;
}

.head ul li:hover {
    background:#555;
}

.head ul ul {
    list-style:none;
    position:absolute;
    background:#555;
    margin:0px;
    padding:0px;
    display:none;
    z-index:9999999;
}

.head ul li:hover ul {
    display:block;
}

.head ul ul li {
    display:block;
}

.head ul ul li:hover {
    background:#888;
}

.clearance {
    clear:both;
}

.secondaryHeader h1 {
    color:#336600;
    margin:25px 0 5px 0;
    font-weight:normal;
}

.secondaryHeader hr, .content hr {
    color:#336600;
    height: 1px;
    border: 1px solid;
}

.content hr {
    margin:5px 0;
}

.content {
    margin:10px auto 20px auto;
}

.toolbar {
    background:#f1fff1;
    height:25px;
    line-height:25px;
}

.toolbar ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

.toolbar ul li {
    display:inline-block;
    padding:0 5px 0 5px;
}

.toolbar a{
    border:#030 1px solid;
    background:url('../images/buttonBack.png') repeat-x top;
    color:#fff;
    font-size:9pt;
    display:block;
    padding:2px 5px;
    text-decoration: none;
    height:15px;
    line-height:15px;
    border-radius:5px;
}

.toolbar a:hover {
    background-position:bottom;
    text-decoration: none;
}

.toolbar a.grey{
    background-image:url('../images/buttonBackGrey.png');
}

.toolbar img {
    vertical-align: top;
    margin-left:3px;
}

.toolbar .right {
    float:right;
}

.toolbar ul ul {
    display:none;
    position:absolute;
    background:#C2E07D;
    z-index:50000;
}

.toolbar ul ul li {
    float:none;
    display:block;
    border:0px solid #030;
    border-width:0 0 1px 0;
}

.toolbar ul ul li a {
    background:none;
    border:0px;
    color:#030;
}

.toolbar ul ul li:hover {
    background-color:#96AD61;
}

.toolbar ul li:hover ul {
    display:block;
}

.wrapBox {
    position:absolute;
    border:#333 2px solid;
    width:400px;
    height:300px;
    left:50%;
    top:50%;
    margin:-150px 0 0 -200px;
    background:url('../images/menuback.png') repeat-x;
}

.wrapBox .logo {
    left:10px;
}

.wrapBox .content {
    margin-top:60px;
}

.wrapBox h1 {
    color:#336600;
    margin:20px 0 5px 0;
    font-weight:normal;
}

.borderBox {
    border:#333 1px solid;
    display:inline-block;
    width:auto;
    padding:5px;
    margin-right:5px;
    vertical-align: top;
}

.headerSpace {
    height:30px;
}


/****************************
  Wraps
****************************/

.wrappingBox {
    border:1px solid #336600;
}

.wrappingBox h2 {
    background: #336600;
    color:#fff;
    padding:2px;
    font-size:12pt;
}

.wrappingBox div {
    padding:5px;
}

/****************************
  Forms
****************************/

input {
    border:1px solid #040;
    border-radius:2px;
    padding:2px;
}

input[type=submit], input[type=button], input[type=reset], .buttonLink
{
    background:url('../images/buttonBack.png') repeat-x top;
    color:#fff;
    border:0px;
    cursor:pointer;
    display:inline-block;
    height:25px;
    line-height:25px;
    padding:0 5px;
    border-radius:6px;
    vertical-align: top;
    font-weight:bold;
}

.buttonLink.grey 
{
    background-image:url('../images/buttonBackGrey.png');
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, .buttonLink:hover
{
    background-position:bottom;
    color:#040;
    text-decoration:none;
}

.buttonLink.grey:hover {
    color:#444;
}

.singleFieldBlock {
    min-height: 30px;
    height: auto !important;
    line-height:30px;
}

.singleFieldBlock label {
    min-width:100px;
    width:auto;
    margin-right:10px;
    display:inline-block;
    vertical-align: top;
}

.feedbackMessage {
    background-color:#FFE7A1;
    border-radius:5px;
    margin-bottom:5px;
    padding:5px;
}

.feedbackMessage ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

/****************************
  Tables
****************************/

table {
    width:100%;
    border-spacing:0px;
    font-size: 10pt;
    border-collapse: separate;
}

th {
    background:#336600;
    color:#fff;
    text-align:left;
    padding:5px;
}

tfoot td {
    background:#e6ffe6;
    border:#030 solid;
    border-width:1px 0 0 0;
}

/****************************
  Links
****************************/

a {
    color:#333;
    text-decoration: none;
    font-weight:bold;
}

a:hover {
    text-decoration: underline;
}

/****************************
  Tabs
****************************/

.tab_row {
    list-style: none;
    margin:0px;
    padding:0px;
    border:#030 solid;
    border-width:0 0 1px 0;
}

.tab_row li {
    display:inline-block;
    border:#030 solid;
    border-width:1px;
    position: relative;
    top:1px;
    background: #ccffcc;
    margin-left:5px;
}

.tab_row li.selected {
    border-bottom-color:#fff;
    background: #fff;
}

.tab_row li a {
    display:block;
    padding:0 20px;
    height:20px;
    line-height:20px;
}

.tab_row li:hover {
    background: #fff;
}

.tab_row li a:hover {
    text-decoration: none;
}

.tab_panel {
    margin-top:10px;
}

.ui-dialog-content hr {
    color:#333;
    height: 1px;
    border: 1px solid;
    margin:10px 0;
}