<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:picon="http://picon.webquub.com/dtds/picon-xhtml.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head>
    </head>
    <body>
        <picon:panel>
            <div picon:id="feedback" />
            <form picon:id="form">
                <div class="singleFieldBlock"><label>Arrangement Name: </label>
                <input type="text" picon:id="name" />
                </div>
                <div class="singleFieldBlock"><label>Layout: </label>
                <select picon:id="layout"/>
                </div>
                <input type="submit" picon:id="submit" value="Continue"/>
            </form>
        </picon:panel>
    </body>
</html>
