<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:picon="http://picon.webquub.com/dtds/picon-xhtml.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head>
    </head>
    <body>
        <picon:panel>
            <input type="hidden" picon:id="widgetId" />
            <div class="hoverBox left"><img src="images/move.png" class="dragHandle" /></div>
            <div class="hoverBox right double"><a picon:id="edit"><img src="images/edit.png" /></a>&nbsp;
            <a picon:id="delete"><img src="images/delete.png" /></a></div>
            <div picon:id="widgetPanel"></div>
        </picon:panel>
    </body>
</html>
