<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:picon="http://picon.webquub.com/dtds/picon-xhtml.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head>
    </head>
    <body>
        <picon:panel>
            <a href="javascript:;" class="drop"><span picon:id="dropLink"></span><img src="images/arrowDown.png" /></a>
            <ul><li picon:id="item" class="newItem">
                    <input type="hidden" picon:id="widgetId" /><a href="javascript:;"><span picon:id="name"></span></a></li></ul>
        </picon:panel>
    </body>
</html>
